<h4>Application Form</h4>
<form action="/job/{{job['id']}}/apply" method='post'>
  <div class='mb-2'>
    <label>Full Name</label><br>
    <input type='text' name='full_name' placeholder='Joseph Stalin'>
  </div>

  <div class='mb-2'>
    <label>Email</label><br>
    <input type='email' name='email' placeholder='joseph.stalin@gmail.com'>
  </div>

  <div class='mb-2'>
    <label>LinkedIn Link</label><br>
    <input type='text' name='linkedin_url' placeholder='https://linked.com/in/josephstalin'>
  </div>

  <div>
    <label>Education</label><br>
    <textarea name='education'></textarea>
  </div>

  <div>
    <label>Work Experience</label><br>
    <textarea name='work_experience'></textarea>
  </div>

  <div>
    <label>Resume URL</label><br>
    <textarea name='resume_url'></textarea>
  </div>
  <input type='submit'>
  
</form>